body{
    margin: 0;
}
h2{
    color: cadetblue;
    font-size: 30px;
}
.heading{
    color: tomato;
    font-size: 40px;
}
#heading1{
    color: seagreen;
    background-color: plum;
}

.text{
    color: dodgerblue;
}

.container{
    background-color: red;
    color: white;
    width: 100px;
    width: 10%;
    width: 10vw;
    width: 4in;
    width: 3cm;
    width: 25mm;
    height: 20vh;
}

.box{
    font-size: 22px;
    /* height: 30px; */
    width: 150px;
    background-color: antiquewhite;
    padding: 10px;
    /* border-width: 2px; */
    /* border-style: solid; */
    /* border-color: cornflowerblue; */
    border: 2px solid cornflowerblue;
    margin: 20px;
}

.underline-link{
    text-decoration-style: solid;
    text-decoration-color: red;
    text-decoration-thickness: 2px;
}
.overline-link{
    text-decoration: overline;
    text-decoration-color: blueviolet;
    text-decoration-thickness: 2px;
}
.link-to-btn{
    text-decoration: none;
    color: black;
    border: 1px solid;
    padding: 10px 5px;
    display: block;
    width: 100px;
    border-radius: 10px;
}
.link-to-btn:hover{
    background: red;
    color: white;
}

ul{
    margin: 0;
    list-style-type: none;
    padding: 0;
}

table{
    border: 1px solid gray;
    border-collapse: collapse;
    width: 50%;
    margin: 0 auto;
}
th, td{
    border:  1px solid gray;
    padding: 10px 0;
    text-align: center;
}
th{
    background-color: #33d588;
    color: white;
    font-size: 17px;
}

tr:nth-child(even){
    background-color: #f4f2f2;
}